<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="grid grid--half-gutters">
    
      
      {% if page.content != blank %}
        <div class="content-block">
          <div class="rte">
            {{ page.content }}
          </div>
        </div>
      {% endif %}
     
  <div class="grid__item medium-up--one-half">
    <div class="content-block">
          <div class="rte">
            <h3>Tag design</h3>
            <div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0440/2544/6568/files/NAFA_Front_480x480.jpg?v=1631287269" alt="Front of tags, style 1 and 2" /></div>
            <p><strong>Front of tag:</strong></p>
      		<p>You can choose between the outlined or filled styles, and your logo will appear in the middle of the tag. This logo must be the same for all tags in one order.</p>
            <div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0440/2544/6568/files/NAFA_Back_480x480.jpg?v=1631287265" alt="Back of tags, style A and B" /></div>
            <p><strong>Back of tag:</strong></p>
            <p>Up to 3 lines of can be included on the back of the tag (max 15 characters per line). This text can be different for each tag in one order.</p>
            <div style="text-align: center;"> </div>
                      </div>
     </div>
     </div>
    <div class="grid__item medium-up--one-half">
      <div class="content-block">
        <h3>Color choices</h3>
            <p>You can choose between one of our preset colors, or choose a custom color for your tag</p>
            <p><img src="https://cdn.shopify.com/s/files/1/0440/2544/6568/files/NAFA_ColourChart_1024x1024.jpg?v=1631239707" alt="Selectable colors: black, brown, grey, white, navy, blue, light blue, red, orange, yellow, green, pink, purple, or your custom color" /></p>
      </div>
      <div class="content-block">
        <h3>Pricing</h3>
        <table width="100%">
        <tbody>
        <tr>
        <td style="width: 25%;"><strong>No. of tags</strong></td>
        <td style="width: 75%;"><strong> Price</strong></td>
        </tr>
        <tr>
        <td style="width: 25%;">1 to 10 tags</td>
        <td style="width: 75%;"><span>$16.50 per tag + $</span><span>25</span><span>.00 setup fee<br />Free shipping included!</span></td>
        </tr>
        <tr>
        <td style="width: 25%;">11 to 20 tags</td>
        <td style="width: 75%;">$14.52 per tag <strong>(12% savings)</strong><br />Setup fee and free shipping included!</td>
        </tr>
        <tr>
        <td style="width: 25%;">21+ tags</td>
        <td style="width: 75%;"><span>$13.20 per tag <strong>(20% savings)</strong><br />Setup fee and free shipping included!</span></td>
        </tr>
        </tbody>
        </table>
      </div>
      <div class="content-block">
        <h3>Start your custom team tag order</h3>
        <p>Looking for team tags? Let's chat! Contact us below to get the order form. </p>
        <div class="contact-form form-vertical">
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--half-gutters">
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" name="contact[{{ 'contact.form.name' | t }}]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>
            <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
    {% section 'featured-products-subsection' %}
</div>
