<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="grid grid--half-gutters">
    <div class="content-block">
          <div class="rte">
            <h3>Exclusively for North American Flyball Association (NAFA) teams</h3>
            <p>Show your team spirit by adding your logo onto personalized tags for everyone! </p>
            <p><strong>Your customized tags:</strong></p>
              <ul>
              <li>Your logo on the front</li>
              <li>Your choice of tag colour*</li>
              <li>Up to 3 lines of text on the back</li>
              <li>Each tag can have different customized text on the back</li>
              </ul>
          </div>
     </div>
      <div class="grid__item medium-up--one-half">
      {% if page.content != blank %}
        <div class="content-block">
          <div class="rte">
            {{ page.content }}
          </div>
        </div>
      {% endif %}
      </div>
    <div class="grid__item medium-up--one-half">
      <div class="content-block">
        <h3>Pricing</h3>
        <table width="100%">
        <tbody>
        <tr>
        <td style="width: 25%;"><strong>Number of tags</strong></td>
        <td style="width: 75%;"><strong> Price</strong></td>
        </tr>
        <tr>
        <td style="width: 25%;">1 to 10 tags</td>
        <td style="width: 75%;"><span>$16.50 per tag + $</span><span>25</span><span>.00 setup fee<br />Free shipping included!</span></td>
        </tr>
        <tr>
        <td style="width: 25%;">11 to 20 tags</td>
        <td style="width: 75%;">$14.52 per tag <strong>(12% savings)</strong><br />Setup fee and free shipping included!</td>
        </tr>
        <tr>
        <td style="width: 25%;">21+ tags</td>
        <td style="width: 75%;"><span>$13.20 per tag <strong>(20% savings)</strong><br />Setup fee and free shipping included!</span></td>
        </tr>
        </tbody>
        </table>
      </div>
      <div class="content-block">
        <h3>Start your custom team tag order</h3>
        <p>Looking for team tags? Let's chat! Contact us below to get the order form. </p>
        <div class="contact-form form-vertical">
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--half-gutters">
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" name="contact[{{ 'contact.form.name' | t }}]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>
            <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
    {% section 'featured-products-subsection' %}
</div>
